* {
  background-color: #40414F;
  color: white;
}

.App {
  display: flex;
  justify-content: center;
  text-align: center;
}

.Login {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.title {
  text-align : center;
  width: 100%;
}

.input {
  width: 33%;
  
}

.logSign {
  
}