* {
  background-color: #40414F;
  color: wheat;
}

.App {
  display: flex;
  justify-content: center;
  text-align: center;
}

.formContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.title {
  text-align : center;
  width: 100%;
}

.photo {
  max-width: 400px;
  max-height: 400px;
}
p {
  font-size: 20px;;
}

button {
  background-color: wheat;
  color: #40414F;
  font-weight: bold;
  max-width: 10vw;

}

.Navbar {
  font-size: 50%;
}

.photoContainer {
  display: flex;
  flex-direction: row;
  max-width: 20vw;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-around;
  margin: 0;
}

/* .photoAuthor {
  max-width: 20vw;
} */

.pageContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
};

.settingsPage {
  display: flex;
  justify-content: center;
}